



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global styles */
main>section{
    max-width: 1220px;
    margin: 50px auto;
}
/* banner styles */
.banner{
    margin: 0 auto;
    background: url("../assets/Hero-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;

}
.banner .banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 60px;
    text-align: center;
}
.banner .banner-container .banner-title{
    font-weight: 900;
}
.banner .banner-container .banner-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
}

/* why web dev section style*/
.web-dev{
    background-color: #fbfbfb;

    padding: 80px 40px;
    border-radius: 24px;
}
.dev-header {
    text-align: center;
}
.dev-header .dev-title{
    font-size: 48px;
}

.dev-header .dev-description{
    margin-block: 20px;    
}
.dev-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dev-box-1,
.dev-box-2,
.dev-box-3{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 16px;

}
.dev-box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    max-width: 700px;
}
.dev-box-info a{
    color: gray;
    text-decoration: none;
}
/* my inspiration styles  */
.inspiration{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.inspiration-container,
.current-target-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inspiration-video{
    border: 1px solid #7e7e7e;
    padding: 40px 35px ;
    border-radius: 24px;
}
.inspiration-video video{
    width: 100%;
    border-radius: 16px;
}
/* my targer section styles  */
.current-target{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.current-target-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
 .target-box-1, .target-box-2, .target-box-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding:30px;
    border-radius: 16px;
}
.target-box-1{
    background-color: #ffe2e2;
}
.target-box-2{
    background-color: #e5e2ff;
}
.target-box-3{
    background-color: #feffe2;
}
.current-target-content img{
    display: block;
    width: 50px;
    height: 50px;
}
.current-target-content button {
    border:   none;
    background-color: transparent;
}
.current-target-content button a{
    color: #000;
    font-size: larger;
    font-weight: 700;
}
/*  */