



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    margin: 0 auto;
    background: url("../assets/Hero-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;

}
.banner .banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 60px;
    text-align: center;
}
.banner .banner-container .banner-title{
    font-weight: 900;
}
.banner .banner-container .banner-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
}

/* why web dev section style*/
.dev-header {
    text-align: center;
}
.dev-header .dev-title{
    font-size: 48px;
}

.dev-header .dev-description{
    margin-block: 20px;    
}
/*  */
/*  */
/*  */